{
    "plugins": [
        "lodash",
        "@babel/plugin-syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": 6
                }
            }
        ]
    ]
}