html,body{background-color:#EEF3FB;padding:0;margin:0;height:100%;width:100%}
body{font-family:"Helvetica Neue", Arial, Microsoft JhengHei, sans-serif}
.pad0{padding:0}
.pad5{padding:0 5px}
.mar0{margin:0}
hr{margin-top:0;border-top:1px solid #C9C9C9}
/* nav{background:#D5E9F6} */
/*
.badge{position:absolute;bottom:8px;right:46px;font-size:12px;line-height:20px;margin:5px;padding:0 2px;text-align:center;color:#ffffff;background-color:#ff0018;-webkit-box-sizing:border-box;box-sizing:border-box;height:20px;width:20px;border-radius:50%;display:inline-block;white-space:nowrap;vertical-align:middle}
*/
.modal-dialog{margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.navbar-nav{text-align:left;margin:0 auto;width:100%}
.navbar-nav a {
    margin:0.2rem;
    text-transform:uppercase;
    color:#FFF;
    font-size:1rem;
    letter-spacing:0em;
    border-radius:20px;
    border-color:transparent;
    -webkit-transition:all 0.25s ease;
    transition:all 0.25s ease;
    background-color:transparent;
    padding:0.7rem;
    height:3rem;
    
}
.navbar-nav span {
    margin:0.2rem;
    text-transform:uppercase;
    color:#FFF;
    font-size:1rem;
    letter-spacing:0em;
    -webkit-transition:all 0.25s ease;
    transition:all 0.25s ease;
    background-color:red;
    padding:0.7rem;
    width: 100%;
    height:3rem;
    
}
.contentDisplay{color:#014163;margin:10px 5px}
.contentDisplay p{font-weight:500}
.contentDisplay a{color:#014163}
.contentDisplay a:hover{opacity:.5}
.main-menu{width:100%;height:100%;opacity:0;visibility:hidden}
.nav-open .main-menu{opacity:1;visibility:visible;background:#45bbed}
.main-menu .nav li{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px);-webkit-animation-timing-function:cubic-bezier(0.45, 0.005, 0, 1);animation-timing-function:cubic-bezier(0.45, 0.005, 0, 1)}
.main-menu .nav li a{color:#014163;font-size:24px;font-weight:600}
.main-menu .nav li a:hover{opacity:.5;-webkit-transition:.5s;transition:.5s}
.nav-open .main-menu .nav li{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:-webkit-transform .2s, opacity .2s;-webkit-transition:opacity .2s, -webkit-transform .2s;transition:opacity .2s, -webkit-transform .2s;transition:transform .2s, opacity .2s;transition:transform .2s, opacity .2s, -webkit-transform .2s}
.main-menu .nav li.delay-1{-webkit-transition-delay:0.1s;transition-delay:0.1s}
.main-menu .nav li.delay-2{-webkit-transition-delay:0.2s;transition-delay:0.2s}
.main-menu .nav li.delay-3{-webkit-transition-delay:0.3s;transition-delay:0.3s}
.main-menu .nav li.delay-4{-webkit-transition-delay:0.4s;transition-delay:0.4s}
.main-menu .nav li.delay-5{-webkit-transition-delay:0.5s;transition-delay:0.5s}
.nav-button{position:relative;z-index:1111;height:42px;width:50px;padding:12px;top:5px}
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#014163;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}
.flex-center{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}
header .form-control{font-weight:600;border-radius:0;border:0;color:#014163;border-bottom:1px solid #014163;background-color:transparent !important;outline:none}
header .form-control option{font-weight:600;color:#014163;background:indigo;background-color:#D5E9F6;outline:none}
header a{color:#014163;text-decoration:none !important}
header a:hover{color:#014163}.form-group{margin-bottom:10px}
/* .form-group label{color:#014163;font-size:14px;margin-bottom:0} */
/* .form-group input{margin:3px 0;border:1px solid #2895CF} */
.form-group input:-moz-read-only{background:rgba(40,149,207,0.3)}
.form-group input:read-only{background:rgba(40,149,207,0.3)}
.form-group ::-webkit-input-placeholder{color:#747474}
.form-group :-ms-input-placeholder{color:#747474}
.form-group ::-ms-input-placeholder{color:#747474}.form-group ::placeholder{color:#747474}
/* .form-group select{border:1px solid #2895CF;color:#747474} */
.articleTitle{margin-top:15px;text-align:center;font-size:25px;font-weight:700;color:#014163}
.MarkTitle{color:#747474}
.anAccount{text-align:center;padding:10px 0}
.anAccount a{color:#014163;font-size:12px}
.warnGroup ul{list-style:none;padding:0;color:#014163}
.warnGroup ul li{line-height:36px}
.warnGroup ul li span{padding-right:5px}
.carTable{list-style:none;padding:0;color:#707070}
.carTable li{line-height:36px;height:1.5em;line-height:1.2em;margin:0 5px 5px 5px;padding:5px;font-size:1.2em;height:1.5em}
.carTable li a{color:#707070}
.ui-state-highlight{border:1px dashed #999}
/*# sourceMappingURL=style.css.map */
.DeviceList {
border-collapse: separate;
border-spacing: 0;
min-width: 350px;
width:100%;
font-size: 15px;
text-align: center;
padding-top: 15px;
padding-left:10px;
padding-right:10px;
}
.DeviceList tr th,
.DeviceList tr td {
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
background-color:#ffffff;
padding: 5px;
}
.DeviceList tr th:first-child,
.DeviceList tr td:first-child {
border-left: 1px solid #bbb;
}
.DeviceList tr td:first-child {
/*background-color:#da9748;*/ /*表格第一行顏色*/
background-color:#8E8E8E;
color:#ffffff;
text-align: left;
padding:15px;
}
.DeviceList tr th {
background: #6b6b6b;
border-top: 1px solid #bbb;
color:#ffffff;
padding:15px;
}

.DeviceList tr td:hover{
background: #dedede none repeat scroll 0 0;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
cursor:pointer;
}

.DeviceList td:first-child:hover{
background:  #e5a253;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
cursor:pointer;
}

.DeviceList td a:hover{
text-decoration: none;
}

.DeviceList td:first-child a,#GatewayList td:first-child a:hover{
text-decoration: none;
color:white;
}

/* top-left border-radius */
.DeviceList tr:first-child th:first-child {
border-top-left-radius: 6px;
}

/* top-right border-radius */
.DeviceList tr:first-child th:last-child {
border-top-right-radius: 6px;
}
  
/* bottom-left border-radius */
.DeviceList tr:last-child td:first-child {
border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.DeviceList tr:last-child td:last-child {
border-bottom-right-radius: 6px;
}
 

.rounded-corners-gradient-borders {
    width: 300px;
    height: 100px;
    border: double 4px transparent;
    border-radius: 20px;
    background-image: linear-gradient(green, white), radial-gradient(circle at top left, #444444,#888888);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }






.BadgeDiv{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    
    margin-top: 15px;
    margin-bottom: 15px;
   
  
    
}

.BadgeItem{
    
    color:black;
    width:100%;
    padding: 5px;
    margin: 0px;
    
}


.BadgeTitle{
    opacity: 1.0;
    color:#3C3C3C;
    font-size: 30px;
    font-weight: 800;
    padding-left:10px;
}
.BadgeLock{
    color:white;
    text-align: center;
    border-left: gray;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: gray;
    background-color: #444444;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top:5px;
}
.BadgeMiddle{
    font-size:16px;
    font-weight: bolder;
    color:#3C3C3C;
    padding-left:10px;
}
.BadgeDown{
    font-size:16px;
    font-weight: bolder;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    vertical-align: bottom;
    
}
.BadgeTime{
    font-size:16px;
    text-align: right;
    color:#cccccc;
    padding-top: 5px;
    vertical-align: bottom;
    
}
.LockIcon{
    margin-bottom: 10px;
}




.FooterTable{
    width: 100%;
    height: 60px;
}
.FooterCell{
    width: 50%;
    height:60px;
    
    color:white;
    text-align: center;

   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4d5765+0,14191c+95 */
background: rgb(77,87,101); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(77,87,101,1) 0%, rgba(20,25,28,1) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(77,87,101,1) 0%,rgba(20,25,28,1) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(77,87,101,1) 0%,rgba(20,25,28,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5765', endColorstr='#14191c',GradientType=0 ); /* IE6-9 */


    
}
.FooterCellLine{
    width:10px;
}

.FooterCell a{
    color:white;
    font-size: 20px;
}

#DataList{
    height: calc(100vh - 120px);
    overflow-y: scroll;
}
#DataList::-webkit-scrollbar { width: 0 !important }


/*for user tree view*/

#AccountTree ul {
    margin: 0px 0px 0px 30px;
    list-style: none;
    line-height: 2em;
    font-family: Arial;
}
#AccountTree ul li {
    font-size: 16px;
    position: relative;
}
#AccountTree ul li:before {
    position: absolute;
    left: -60px;/*橫向L線位置*/
    top: -20px;/*橫向L線位置*/
    content: '';
    display: block;
    border-left: 1px solid #ddd;
    height: 55px;/*L線直線長度*/
    border-bottom: 1px solid #ddd;
    width: 60px; /*L線橫線長度*/
}
#AccountTree ul li:after {
    position: absolute;
    left: -60px; /*節點連接線位置*/
    bottom: -7px;
    content: '';
    display: block;
    border-left: 1px solid #ddd;
    height: 100%;
}
#AccountTree ul li.root {
    margin: 0px 0px 0px -5px;
}
#AccountTree ul li.root:before {
    display: none;
}
#AccountTree ul li.root:after {
    display: none;
}
#AccountTree ul li:last-child:after {
    display: none;
}

.addButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_add_standard.png') no-repeat;
}

.addButton:hover {
    background: url('../../assets/action_add_hover.png') no-repeat;
}


.actionButton {
    width:44px;
    height:44px;
    background: url('../../assets/action.png') no-repeat;
}

.actionButton:hover {
    background: url('../../assets/action_hover.png') no-repeat;
}

.go-location:hover {
    background-color: #144ba7;
}

.go-location:hover .fa-map-marker-alt{
    color: #ffffff!important;
}

.actionLockButton{
    position: relative;
    width:44px;
    height:44px;
    background-color:#cee1fc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.actionLockButton:hover{
   
    background-color: #144ba7;;
   
}
.actionLockButton:hover .fa-lock{
   
    color: #ffffff!important;
   
}
.actionLockButton:hover .fa-lock-open {
   
    color: #ffffff!important;
   
}


.lockButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_lock.png') no-repeat;
}

.lockButton:hover {
    background: url('../../assets/action_lock_hover.png') no-repeat;
}

.subButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_sub_standard.png') no-repeat;
}
.subButton:hover {
    background: url('../../assets/action_sub_hover.png') no-repeat;
}

.expButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_export_standard.png') no-repeat;
}
.expButton:hover {
    background: url('../../assets/action_export_hover.png') no-repeat;
}

.downloadButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_export_standard.png') no-repeat;
}
.downloadButton:hover {
    background: url('../../assets/action_export_hover.png') no-repeat;
}

.filterButton {
    width:44px;
    height:44px;
    background: url('../../assets/action_filter_standard.png') no-repeat;
}
.filterButton:hover {
    width:44px;
    height:44px;
    background: url('../../assets/action_filter_hover.png') no-repeat;
}




/*
ul {
    margin: 5px 5px 5px 10px;
    list-style: none;
    line-height: 2em;
    font-family: Arial;

    li {
        font-size: 16px;
        position: relative;

        &:before {
            position: absolute;
            left: -20px;
            top: 2px;
            content: '';
            display: block;
            border-left: 3px solid gray;
            height: 1em;
            border-bottom: 3px solid gray;
            width: 18px;
        }

        &:after {
            position: absolute;
            left: -20px;
            bottom: -17px;
            content: '';
            display: block;
            border-left: 3px solid gray;
            height: 100%;
        }

        &.root {
            margin: 0px 0px 0px -5px;

            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }


        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
*/

/*
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, 
.tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:2px solid #000;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:2px solid #000;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:2px solid #000;
    border-radius:3px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    cursor:pointer;
}
.tree>ul>li::before,
.tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:27px
}
.tree li span:hover {
    background: hotpink;
    border:2px solid #94a0b4;
    }

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
*/

.gatesSelect{
    color:gray;
    margin: 10px 0px 0px;
    text-align: left;
    
}

.multiselect-container li a label{
    
    padding-left:5px;
}



.bg-blue{
    background-color: #144BA7;
    
}

.logo{
    margin-left:0px;
}

.navbar{
    height:84px;
    padding: 0px;
    margin:0px;
    padding-right:0px;
    padding-left:0px;
}

.card{
    border-radius:6px;
    border: 1px solid #112B4E29;
    border-radius: 6px;
    opacity: 1;
    padding: 30px 30px 20px 30px;
    margin: 0px;
}

.mcard{
    border-radius:6px;
    border: 1px solid #112B4E29;
    border-radius: 6px;
    opacity: 1;
    padding: 10px 10px 5px 10px;
    margin: 0px;
    background-color: white;
}

.login-label{
    font-size: 32px;
    font-family: "Noto Sans TC";
    font-weight: 800;
    letter-spacing: 0px;
    color: #144BA7;
    opacity: 1;
    vertical-align:middle;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
    line-height: 1;
}

.page-label{
    font-size: 32px;
    font-family: "Noto Sans TC";
    font-weight: 800;
    letter-spacing: 0px;
    color: #112B4E;
    opacity: 1;
    vertical-align:middle;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
    line-height: 1;
}

.dashboard-label{
    font-size: 24px;
    font-family: "Noto Sans TC";
    font-weight: 800;
    letter-spacing: 0px;
    color: #112B4E;
    opacity: 1;
    vertical-align:middle;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
    line-height: 1;
}

.chartdiv {
    width: 100%;
    height: 300px;
    max-width:100%;
    background-color:#ffffff;
}

.detail-label{
    font-size: 15px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    letter-spacing: 0px;
    color: #112B4E;
    opacity: 1;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
}

.title-label{
    font-size: 24px;
    font-family: "Noto Sans TC";
    font-weight: 800;
    letter-spacing: 0px;
    color: #112B4E;
    opacity: 1;
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
}

.text-label{
    font-size: 17px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    letter-spacing: 0px;
    color: #112B4E;
    opacity: 1;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
}

#forget-label{
    font-size: 15px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    letter-spacing: 0px; 
    color: #0C3C8D;
}

#forget-span{
    margin-bottom: 20px;
}

#forget-label:hover{
    text-decoration:none;
    color:#1871E6;
}



#account-input{
    margin-bottom: 20px;
}

.login-input{
    height:46px;
    color: #112B4E;
    opacity: 1.0;
    font-size:17px;
    font-weight: normal;
}

#password-input{
    margin-bottom: 10px;
}

#singInBtn{
    font-size: 17px;
    margin-bottom: 0px;
}



#forgetPasswordBtn{
    font-size: 17px;
    margin-bottom: 0px;
}
  

.btn-block {
    padding: 0; 
    height:44px;
    background-color:#144BA7;
    color:white;
    
}

.btn-block:hover {
    padding: 0; 
    height:44px;
    background-color:#1871E6;
    color:white;
    
}

.btn-form {
    padding: 0; 
    height:44px;
    background-color:#144BA7;
    color:white;
    width:150px;
    
}

.form-control::-webkit-input-placeholder {
    color:#112B4E;
    opacity: 0.4;
  }

.svg-white path {
    fill:#FFFFFF !important;
}

.svg-gray path {
    fill:#112B4E !important;
    opacity: 0.4;   
}

.svg-lightgray path{
    fill: #112B4E2E;
}

.svg-arrow path{
    fill: url(#arrow);
}

.svg-arrow-up path{
    fill: url(#arrow_up);
}

.svg-arrow-down path{
    fill: url(#arrow_down);
}

.svg-input path {
    fill:#112B4E !important;
    opacity: 0.4;   
}

.svg-error path {
    fill: #EE3B3B  !important;
    opacity: 1.0;   
}

.svg-check path {
    fill: #28CD41  !important;
    opacity: 1.0;   
}

.svg-lightblue path{
    fill: #144BA7 !important;
    opacity: 0.4; 
}

input.form-fixer {
    padding: 0px;
}

.cursor-pointer{
    cursor: pointer;
}


.form-control:focus {
    border-color: #144BA7;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0); 
} 

.form-control.invalid{
    border-color:#E22020;
}

.msg-delete{
    color:#EE3B3B;
    margin-top:5px;
    cursor:pointer;
    font-size: 17px;
}

.msg-delete:hover{
    border-bottom: 1px solid #EE3B3B;
}

.msg-change{
    color:#144BA7;
    font-size:15px;
    cursor:pointer;
}

.msg-error{
    color:#EE3B3B;
    background-color: #EE3B3B0F ;
    margin-bottom: 5px;
}

.msg-white{
    color:#FFF;
   
}

.msg-error:before {
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_error.svg') no-repeat;
    mask: url('../../assets/icon_error.svg') no-repeat;
    background-color: #EE3B3B;
    opacity: 1.0;  
    width:44px;
    height:44px;  
}

.msg-success{
    color:#28CD41;
    background-color: #28CD410F ;
    margin-bottom: 5px;
}

.msg-success:before {
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_check.svg') no-repeat;
    mask: url('../../assets/icon_check.svg') no-repeat;
    background-color: #28CD41;
    opacity: 1.0;  
    width:44px;
    height:44px;  
}

.msg-warnning{
    color:#EE3B3B;
}

.msg-red{
    color:#EE3B3B;
    background-color: #EE3B3B0F ;
}



.msg-blue{
    color:#46A3FF;
    background-color: #EE3B3B0F ;
}




.msg-green{
    color:#047414;
    background-color: #A6FFA6 ;
}

.msg-yellow{
    color:#EA7500;
}

.login-label a{
    color: #144BA7;
    opacity: 1;
}

.login-label a:hover{
    color: #1871E6;
    
}

#userManual-span{
    color: #144BA7;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: stretch; 
    padding:0px;
    margin:0px;

}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    min-height: calc(100vh - 84px);
    margin-left: -240px;
}

#sidebar.active {
    margin-left: 0px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
}

.ButtonArrow:hover{
    background-color: white;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -240px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional";


html {
    
    overflow: -moz-hidden-unscrollable;
    
    height: 100%;
}

body::-webkit-scrollbar {
    /*
    display: none;
    */
}

body {
    
    -ms-overflow-style: none;
    
    height: 100%;
	/* width: calc(100vw + 18px); */
	overflow: auto;
}

body {
    
    background: #EEF3FB;
    font-family: 'Noto Sans TC';
}

p {
    
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #0C3C8D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li{
   
  
    font-weight: 500;

}
#sidebar ul li a {
    padding: 5px;
    font-size: 17px;
    /* display: block; */
    display: flex;
    justify-content:left;
    align-items:center;
    width:100%;
    
}
#sidebar ul li a:hover {
    background: #1871E6;
    color:white;
    /* border-left: 1px white solid; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #00000029;
    border-left: 2px white solid;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0C3C8D;
}

.menu:before {
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_menu.svg') no-repeat;
    mask: url('../../assets/icon_menu.svg') no-repeat;
    background-color: white;
    width:44px;
    height:44px;
    margin-right:-25px;
    margin-top:-25px;
   
}

.div_user:before {
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_user.svg') no-repeat;
    mask: url('../../assets/icon_user.svg') no-repeat;
    background-color: #112B4E;
    width:44px;
    height:44px;
    opacity: 0.4;  
}

.div_password:before {
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_lock.svg') no-repeat;
    mask: url('../../assets/icon_lock.svg') no-repeat;
    background-color: #112B4E;
    width:44px;
    height:44px;
    opacity: 0.4;  
}



.eye:after{
    position: relative;
    content: '';
    -webkit-mask: url('../../assets/icon_eye.svg') no-repeat;
    mask: url('../../assets/icon_eye.svg') no-repeat;
    background-color: #112B4E;
    width:44px;
    height:44px;
    opacity: 0.4;  
    float:left;
    margin-top:0px;
    margin-left:-50px;
    z-index: 2;
    cursor: pointer;
}



.eye.slash:after{
    position: relative;
    content: '';
    -webkit-mask: url('../../assets/icon_eye_slash.svg') no-repeat;
    mask: url('../../assets/icon_eye_slash.svg') no-repeat;
    background-color: #112B4E;
    width:44px;
    height:44px;
    opacity: 0.4;  
    float:left;
    margin-top:0px;
    margin-left:-50px;
    z-index: 2;
    cursor: pointer;
}

.eye {
    float: right;
    margin-left: -25px;
    margin-top: -43px;
    position: relative;
    z-index: 2;
}

.calendar {
    float: right;
    margin-left: -25px;
    margin-top: -43px;
    position: relative;
    z-index: 2;
    line-height: 44px;
}

.calendar:after{
    position: absolute;
    content: '';
    -webkit-mask: url('../../assets/icon_calendar.svg') no-repeat;
    mask: url('../../assets/icon_calendar.svg') no-repeat;
    background-color: #112B4E;
    width:44px;
    height:44px;
    opacity: 0.4;  
    float:left;
    margin-top:0px;
    margin-left:-45px;
    z-index: 2;
    cursor: pointer;
}


#content {
    width: 100%;
    padding: 40px 40px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* 
.container{
    margin:0px;
    padding:20px;
} */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: rgb(0,0,0,.02);
 }

 .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background:#FFFFFF;
 }

.table.table-striped thead th {
    background-color: #CEE1FC;
    color: #0C3C8D;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 20px !important;
}

.table.table-striped tbody td {
    color: #112B4E;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 20px;
    vertical-align : middle;
    line-height: 44px;
}


table{
    /* height: 60px; */
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.table > tbody > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
} 

.table > tbody > tr > td > div, .table > thead > tr > th > div {
    /* vertical-align: bottom !important;*/
    display:inline-flex;
    align-items:center;
    flex-direction:row;
} 

.modal-body td{
    padding: 15px 12px !important;
} 


.table.table-striped tbody td:first-child {
    font-weight: 800;
}

.table-bordered {
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}
  
/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #C9E0F0;
   
}

.pagination .page-link {
    position: relative;
    width: 32px;
    padding: .625rem 0;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
    font-weight: 800;
   
}

.page-link {
    position: relative;
    float: left;
    padding: 3px 11px;
    margin-left: -1px;
    color: #112B4E;
    font-size: 17px;
    text-decoration: none;
    background-color: #fff;
    border:0px !important;
} 

.pagination .page-link.active, .pagination .page-link.active:active .page-link {
    background-color: #CEE1FC ;
    color: #112B4E;
    border:0px;
    
}

.no-border{
    border:none;
}

.modal-dialog {
    top: -0vh;
    right: 0vw;
  }

.confirmString{
    color:#144BA7;
    font-size: 30px;
    opacity: 1;
    margin-top:30px;
    margin-left:30px;
    margin-bottom: 50px;
}



.btn-primary.custom-blue {
	background-color: #144BA7 ;
    border-color: #144BA7 ;
    width:120px;
    height:44px;
    padding: 0 !important;
}
.btn-primary.custom-blue:hover {
	background-color: #3478EB ;
	border-color: #3478EB ;
}
.btn-secondary.custom-gray {
	background-color: #A5A5A5 ;
    border-color: #A5A5A5 ;
    width:120px;
    height:44px;
}
.btn-secondary.custom-gray:hover {
	background-color: #C9C9C9 ;
	border-color: #C9C9C9 ;
}


.btn-primary.custom-small-blue {
	background-color: #144BA7 ;
    border-color: #144BA7 ;
    width:90px;
    height:44px;
    padding: 0 !important;
}

.btn-primary.custom-small-green {
	background-color: #006030 ;
    border-color: #006030 ;
    width:90px;
    height:44px;
    padding: 0 !important;
}

.btn-primary.custom-small-yellow {
	background-color: #FF8000 ;
    border-color: #FF8000 ;
    width:90px;
    height:44px;
    padding: 0 !important;
}

.btn-primary.custom-small-red {
	background-color: #EA0000 ;
    border-color: #EA0000 ;
    width:90px;
    height:44px;
    padding: 0 !important;
}

.btn-primary.custom-small-purple {
	background-color: #4B0091 ;
    border-color: #4B0091 ;
    width:90px;
    height:44px;
    padding: 0 !important;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #144BA7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #144BA7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.custom-select:focus{
    border-color: #144BA7;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0); 
}

.modal-content{
    padding: 40px;
    margin: 0;
   
}

.modal-msg{
    color:#144BA7;
    font-size:30px;
    margin-top:10px;
}

.cursor{
    cursor:pointer;
}

.modal-title{
    font-size:30px;
    color:#144BA7;
}

.fa-times{
    color:#144BA7;
    font-size: 25px;
}


.custom-control-label{
    margin-top: 3px;
} 
.custom-control-label::before, 
.custom-control-label::after {
    top: -3px;
    left: -35px;
    width: 25px;
    height: 25px; 
  
} 

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#144BA7;
}


.modal-list{
    width:100%;
    /* margin: auto; */
    /* padding: 20px; */
    border: 2px solid #112B4E2E;
    max-height: 300px;
    display: inline-block; 
    overflow-y: auto;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
} 

.modal-list td{
    border-bottom: 1px solid #112B4E2E;
    width:380px;
} 

/* For the "inset" look only */
html {
    overflow: auto;
}

#SensorConfigList td {
    padding: 5px 2px !important;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    
    border-radius: 10px;
    background:#144BA7; 
    /*
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    */
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #144BA7; 
}

.hidden{
    /* visibility: hidden; */
    display: none;
}

.showup{
    /* visibility: visible; */
    display: block; 
}

.h44{
    line-height:44px;
    height:44px;
}

.dh44{
    /* line-height:44px; */
    height:44px;
}



.w200{
    width:200px;
}

.w240{
    width:240px;
}

.filter{
    margin-right: 5px;
}

/* table td{
    line-height:44px;
} */

#title a{
    color: #112B4E;
}

#title a:hover{
    color: #144BA7;
}

#tbody a:hover{
    
    border-bottom: 1px solid #112B4E;
}

#tbody svg:hover path,th svg:hover path{
    fill: #112B4E;
}

td .msg-delete:hover{
    color:#EE3B3B;
    border-bottom: 1px solid #EE3B3B;
}

.chks{
    font-size: 20px;
}

/* for customisze radio button*/

pre { color: crimson; }
.hide { display: none; }
.fa-exclamation-triangle { color: goldenrod; }

input[type="checkbox"] + .fa,
input[type="checkbox"] + label > .fa,
input[type="radio"] + .fa,
input[type="radio"] + label > .fa { cursor: pointer; }

/* Unchecked */


input[type="checkbox"] + .fa-check-circle:before,
input[type="checkbox"] + label > .fa-check-circle:before,
input[type="radio"] + .fa-check-circle:before,
input[type="radio"] + label > .fa-check-circle:before { color: #A5A5A5; } 

input[type="checkbox"] + .fa-dot-circle-o:before,
input[type="checkbox"] + .fa-check-circle-o:before,
input[type="checkbox"] + label > .fa-dot-circle-o:before,
input[type="checkbox"] + label > .fa-check-circle-o:before,
input[type="radio"] + .fa-dot-circle-o:before,
input[type="radio"] + label > .fa-dot-circle-o:before,
input[type="radio"] + .fa-check-circle-o:before,
input[type="radio"] + label > .fa-check-circle-o:before { color: #A5A5A5; } 
input[type="radio"] + .fa-circle:before,
input[type="radio"] + label > .fa-circle:before { color: #A5A5A5; } 
input[type="checkbox"] + .fa-check:before,
input[type="checkbox"] + .fa-check-square-o:before,
input[type="checkbox"] + label > .fa-check:before,
input[type="checkbox"] + label > .fa-check-square-o:before { color: #A5A5A5; } 
input[type="checkbox"] + .fa-check-square:before,
input[type="checkbox"] + label > .fa-check-square:before { color: #A5A5A5; } 

/* Checked */
input[type="checkbox"]:checked + .fa-check:before,
input[type="checkbox"]:checked + label > .fa-check:before { content: "\f00c"; color:#144BA7;}
input[type="checkbox"]:checked + .fa-check-circle:before,
input[type="checkbox"]:checked + label > .fa-check-circle:before,
input[type="radio"]:checked + .fa-check-circle:before,
input[type="radio"]:checked + label > .fa-check-circle:before { content: "\f058";color:#144BA7; }
input[type="checkbox"]:checked + .fa-check-circle-o:before,
input[type="checkbox"]:checked + label > .fa-check-circle-o:before,
input[type="radio"]:checked + .fa-check-circle-o:before,
input[type="radio"]:checked + label > .fa-check-circle-o:before { content: "\f05d";color:#144BA7; }
input[type="checkbox"]:checked + .fa-check-square:before,
input[type="checkbox"]:checked + label > .fa-check-square:before { content: "\f14a";color:#144BA7; }
input[type="checkbox"]:checked + .fa-check-square-o:before,
input[type="checkbox"]:checked + label > .fa-check-square-o:before { content: "\f046";color:#144BA7; }
input[type="radio"]:checked + .fa-circle:before,
input[type="radio"]:checked + label > .fa-circle:before { content: "\f111"; }
input[type="checkbox"]:checked + .fa-dot-circle-o:before,
input[type="checkbox"]:checked + label > .fa-dot-circle-o:before,
input[type="radio"]:checked + .fa-dot-circle-o:before,
input[type="radio"]:checked + label > .fa-dot-circle-o:before { content: "\f192"; }

/* .bootstrap-datetimepicker-widget table th.picker-switch{
    color:#000 !important;
} */

/* For bootstrap-datetimepicker */
/* .bootstrap-datetimepicker-widget table th,.bootstrap-datetimepicker-widget table td{
  padding: 10px 10px !important;
} 

.bootstrap-datetimepicker-widget table{
    padding: 0px !important;
    margin: 0px!important;
  }  */

/* .bootstrap-datetimepicker-widget table{
    width:100%!important;
  }  */

/* .bootstrap-datetimepicker-widget .btn{
    width:0px!important;
    height:0px!important;
    margin-right:0px!important;
    background-color: red!important;
  } */


/* 
.btn.btn-primary,.btn.btn-secondary{
    width:120px!important;
    height:44px!important;
    margin-right:5px;
}  */

.chart-label{
    font-size: 18px;
    line-height: 1.1;
    color: #6C6C6C;
    font-weight: 400;
    position: absolute;
    top:20px;
    left:45px;
}

.chart-label2{
    font-size: 18px;
    line-height: 1.1;
    color: #6C6C6C;
    font-weight: 400;
  
}

.slider-container{
    position:relative;
    width:400px;
    height:270px

}
.slider-image{
    position:absolute;
    top:0px;
    left:0px;
    z-index:800;
    width:400px;
    height:270px;

}

.slider-panel{
    position:absolute;
    top:5px;
    left:5px;
    z-index:850; 
    text-align: left;
    display: flex;
    flex-direction: row;
}

.slider-text{
   
    z-index:900;
    color: white;
    background-color:#144BA7;
    font-size:24px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    border-radius:5px;
    padding:0px 8px;
    opacity: 0.9;
    
}

.slider-temp-green{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#01B468;
    font-family: 'Noto Sans TC';
    font-weight: 800;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}
.slider-temp-red{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#CE0000;
    font-family: 'Noto Sans TC';
    font-weight: 800;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}
.slider-temp-blue{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#0066CC;
    font-family: 'Noto Sans TC';
    font-weight: 800;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}
.slider-temp-yellow{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#EA7500;
    font-family: 'Noto Sans TC';
    font-weight: 800;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}
.slider-temp-offline{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#CE0000;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}
.slider-temp-idle{
    color: white;
    z-index:900;
    font-size:24px;
    background-color:#EA7500;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    border-radius:5px;
    padding:0px 10px;
    opacity: 0.9;
}


.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 320px !important;
}

th.dow{
    padding:5px !important;
}
td.day{
    padding:5px !important;
}

#notifySetting{
  
    margin-top: 20px;
    margin-bottom: 20px;
}

.MapLabel{
    font-size:20px;
    color:#0066CC;
    font-family: 'Noto Sans TC';
    font-weight: 800;
}
.mapboxgl-popup-content{
    padding: 5px 5px 0px 5px !important;
}


#map { 

    width: 480px;
    height: 300px;
}

#myMap {
    position: absolute;
    left: 15px;
    width: calc(100% - 30px);
    border: 1px solid #c9c9c9;
    background-color: #eef3fb;
    padding: 5px;
    height: 300px;
    text-align: center;
}


  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 22px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.badge-blue{
    color:white;
    border-radius: 3px;
    border:2px solid #112B4E;
    background-color: #112B4E;
    padding: 0px 5px;
    margin: 3px 3px;
}
.badge-white{
    color:#112B4E;
    /*border-radius: 6px;*/
    border:2px solid #112B4E;
    background-color: white;
    font-weight: bold;
    padding: 0px 3px;
    max-height: 5px;
}
/* table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  } */
   
 .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,0.02);  
        
    }






/* #selectLang{
    background: green;
    color:white;
    
}

#selectLang option{
    
        margin: 100px;
        width: 140px;
        height: 140px;
        line-height: 300px;
        color:red;
     
        border: 1px solid #cccccc;
        position: relative;
} */







    .select-container {
        position: relative;
        width: 120px;
    }
  
    select {
        border: 2px solid #eee;
        border-radius: 5px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance:none;
        width: 100%;
        height: 35px;
        line-height: 35px;
        background: #FFF;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
        outline:none;
        padding-left: 15px;
        transition: 0.2s;
    }
  
 
 
    select:-moz-focusring {
        color: transparent;
       
    }
  
    select::-ms-expand {
        display: none;
    }
  
    .select-arrow {
        color: #333;
        right:0px;
        top: 10px;
        width:30px;
        position:absolute;
        display:block;
        z-index: 10;
        margin: 0 0 0 0;
        pointer-events:none;
    }

    .cus-select-wrapper {
        position: relative;
        user-select: none;
        width: 130px;
   }
    .cus-select {
        position: relative;
        display: flex;
        flex-direction: column;
        border-width: 0 2px 0 2px;
        border-style: solid;
        border-color: #144BA7;
   }
    .cus-select__trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 22px;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        height: 60px;
        line-height: 60px;
        background: #144BA7;
        cursor: pointer;
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: #144BA7;
   }
    .cus-options {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        border: 2px solid #fff;
        border-top: 0;
        background: #fff;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
   }
    .cus-select.open .cus-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
   }
    .cus-option {
        position: relative;
        display: block;
        padding: 0 22px 0 22px;
        font-size: 18px;
        font-weight: 300;
        color: #3b3b3b;
        line-height: 60px;
        cursor: pointer;
        transition: all 0.5s;
   }
    .cus-option:hover {
        cursor: pointer;
        background-color: #b2b2b2;
   }
    .cus-option.selected {
        color: #ffffff;
        background-color: #144BA7;
   }
   
   .arrow {
    position: relative;
    height: 15px;
    width: 15px;
    padding:0 10px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -4px;
    transform: rotate(35deg);
    background-color: #fff;
}
.arrow::after {
    left: 4px;
    transform: rotate(-35deg);
    background-color: #fff;
}
.open .arrow::before {
    left: -4px;
    transform: rotate(-35deg);
}
.open .arrow::after {
    left: 4px;
    transform: rotate(35deg);
}

.test-btn{
    border-color:#A5A5A5;
    color:white;
    background-color:#A5A5A5;
}

.test-btn:hover{
    border-color: #d8dde4!important;;
    background-color: #d8dde4 !important;
    color: white !important;;
}


.btn-light{
   
    background-color: white!important;
    border-color: #CED4DA!important;
    height:44px!important;
    padding:10px 10px!important;
    width: 220px!important;
}

.search-btn{
    background-color: #CEE1FC;
    color:#144BA7;
    font-size:20px;
}

.search-btn:hover{
    background-color: #144BA7;
    color:#ffffff;
    font-size:20px;
}

.row-border{
    border:1px solid red;
}

.row-hidden{
    visibility: hidden;
    display:none;
}

.msg-green-noline{
    color:#01B468; 
}

.msg-red-noline{
    color:#CE0000;
}

.msg-blue-noline{
    color:#0066CC;
}

.msg-yellow-noline{
    color:#EA7500;
}

.msg-gray-noline{
    color:#999999;
}

.note{
    color:red;
    font-size: 10px;
}

.icon-delete{
    color:#999999;
    cursor:pointer;
}

.icon-delete:hover {
    color:#112B4E;
}

.answer-before{
    color: red !important;
    font-weight: 800!important;
}

.answer-after{
    color: green !important;
    font-weight: 800!important;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .logo{
        width:96px;
        height:56px;
    }

    body::-webkit-scrollbar {
        
        display: none;
        
    }
    

    #content {
        width: 100%;
        padding: 20px 0px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    .card{
        border-radius:6px;
        border: 1px solid #112B4E29;
        border-radius: 6px;
        opacity: 1;
        padding: 10px 10px 5px 10px;
        margin: 0px;
        background-color: white;
    }

    .login .card{
        border-radius:6px;
        border: 1px solid #112B4E29;
        border-radius: 6px;
        opacity: 1;
        padding: 30px 30px 20px 30px;
        margin: 0px;
    }

	/* Force table to not be like tables anymore */
	/* table, thead, tbody, th, td, tr { 
		display: block; 
    } */
    
    .home table,.store table,.sensor table,.mstore table,.muser table,.mgateway table,.msensor table,.astore table,.mevent table{
        display: block; 
    }
    .home thead,.store thead,.sensor thead,.mstore thead,.muser thead,.mgateway thead,.msensor thead,.astore thead,.mevent thead{
        display: block; 
    }
    .home tbody,.store tbody,.sensor tbody,.mstore tbody,.muser tbody,.mgateway tbody,.msensor tbody,.astore tbody,.mevent tbody{
        display: block; 
    }
    .home th,.store th,.sensor th,.mstore th,.muser th,.mgateway th,.msensor th,.astore th,.mevent th{
        display: block; 
    }
    .home td,.store td,.sensor td,.mstore td,.muser td,.mgateway td,.msensor td,.astore td,.mevent td{
        display: block; 
    }
    .home tr,.store tr,.sensor tr,.mstore tr,.muser tr,.mgateway tr,.msensor tr,.astore tr,.mevent tr{
        display: block; 
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* thead tr { 
		position: absolute;
		top: -9999px;
        left: -9999px;
        
    } */
    
    .home thead tr,.store thead tr,.sensor thead tr,.mstore thead tr,.muser thead tr,.mgateway thead tr,.msensor thead tr,.astore thead tr,.mevent thead tr{
        position: absolute;
		top: -9999px;
        left: -9999px;
    }
	
	/* tr { border: 1px solid #ccc; } */
	
	

    .home td,.store td,.sensor td,.mstore td,.muser td,.mgateway td,.msensor td,.astore td,.mevent td{
        position: relative !important;
        padding-left: 35% !important; 
    }
    
    .home td:first-of-type,.store td:first-of-type,.sensor td:first-of-type,.mstore td:first-of-type,.muser td:first-of-type,.mgateway td:first-of-type,.msensor td:first-of-type,.astore td:first-of-type,.mevent td:first-of-type{
        background-color: #CEE1FC  !important;
        border-radius: 8px 8px 0px 0px;    
    } 

    .home td:last-of-type,.store td:last-of-type,.sensor td:last-of-type,.mstore td:last-of-type,.muser td:last-of-type,.mgateway td:last-of-type,.msensor td:last-of-type,.astore td:last-of-type,.mevent td:last-of-type{
        border-radius: 0px 0px 8px 8px;
        margin-bottom: 10px;
    } 

    .home td:before,.store td:before,.sensor td:before,.mstore td:before,.muser td:before,.mgateway td:before,.msensor td:before,.astore td:before,.mevent td:before{
        /* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 8px;
		left: 16px;
		width: 25%; 
		padding-right: 10px; 
        white-space: nowrap;
    }

    .h44{
        line-height:60px;
        height:60px;
    }

    

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        /* background: #757881;  */
        background-color: rgba(0,0,0,0.02);
    }

    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
        /* background: #757881;  */
        background-color: rgba(0,0,0,0.02);
    }
    
   .chart-label, .chart-label2{
       display: none;
   }


    div.bootstrap-select div.bootstrap-select__clear {
        color: #6c757d;
        cursor: pointer;
        float: right;
        font-weight: 700;
        position: absolute;
        right: 28px;
        top: 12px;
    }


   

   

    


    
}